.view-wrapper {
    width: 94%;
    min-width: 300px;
    max-width: 768px;
    margin: 4vh auto;
}

.header-card {
    padding-bottom: 0;
}

.header-card__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.4vh;
}

.header-card__header__logo {
    width: 40px;
    height: 40px;
    margin-right: 2%;
}

.header-card__header__logo img {
    width: 100%;
    height: 100%;
}

.header-card__header__title {
    width: calc(54% - 40px);
    min-width: 180px;
}

.header-card__header__social {
    display: flex;
    margin-left: auto;
    padding-top: 6px;
}

.header-card__header__social li {
    width: 24px;
    height: 24px;
    margin-left: .5vw;
}

.header-card__header__social li a {
    font-size: 24px;
    color: #673ab7;
    text-decoration: none;
}

.header-card__header__social li a:hover {
    opacity: .6;
}

.project-card md-card {
    display: flex;
    padding: 14px 24px;
}

.project-card md-card md-card-header {
    margin-bottom: 0;
}

.project-card md-card button {
    height: 38px;
}

.tech-list {
    display: flex;
    margin: 0 1% 0 auto;
}

.tech-list li {
    margin-left: 4px;
}

.tech-list li img {
    width: 26px;
    height: auto;
    margin-top: 7px;
}

@media (max-width: 420px) {
    .header-card__header__social {
        margin-left: 6%;
    }
}