<div class="view-wrapper">
  <lw-title-splash [subtitle]="subtitle"></lw-title-splash>

  <ul class="project-card">
    <md-card *ngFor="let project of projects">
      <md-card-header>
        <md-card-title>{{project.name}}</md-card-title> 
        <md-card-subtitle>{{project.description}}</md-card-subtitle>
      </md-card-header>

      <ul class="tech-list">
        <li *ngFor="let tech of project.technologies">
          <img [attr.alt]="name" [attr.src]="'assets/img/' + tech + '.png'">
        </li>
      </ul>

      <button md-raised-button color="primary"
        (click)="navigateTo('http://' + project.url)"
      >View</button>
    </md-card>
  </ul>
</div>