<div class="view-wrapper">
  <md-card class="header-card">
    <header class="header-card__header">
      <div class="header-card__header__logo">
        <img alt="Brand De Louis Walker" src="assets/img/lw-logo.png" />
      </div>

      <div class="header-card__header__title">
        <h1>Louis Walker</h1>

        <md-card-subtitle>Web Development &amp; Donuts</md-card-subtitle>
      </div>

      <ul class="header-card__header__social">
        <li *ngFor="let profile of socialProfiles"
          [attr.class]="'social-icon social-icon--' + profile.shortName"
        ></li>
      </ul>
    </header>
  </md-card>

  <ul class="project-card">
    <md-card *ngFor="let project of projects">
      <header>
        <h3>{{project.name}}</h3>

        <ul>
          <li *ngFor="let tech of project.technologies">
            <img [attr.alt]="name" [attr.src]="'assets/img/' + tech + '.png'">
          </li>
        </ul>
      </header>

      <div>
        {{project.description}}
      </div>
    </md-card>
  </ul>
</div>