/* You can add global styles to this file, and also import other style files */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");
@import url("https://file.myfontastic.com/MUPaBZyxjmCATKngUmH8pN/icons.css");
@import 'assets/css/dexterity.mtheme.css';
@import 'assets/fonts/fonts.css';

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}

body {
    background-color: #038C73;
}